<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h3>
<div th:each="book : ${books}">
  <a th:href="@{/books/{id}(id = ${book.getId()})}"
     th:text="${book.getName() + ', ' + book.getAuthorName() + ', ' + book.getYear()}">book</a>
</div>
</h3>
<hr/>
<div>
<a href="books/new"> Добавить книгу </a>
<span> | </span>
<button onclick="window.location.href='books?sort=true'"> Отсортировать по убыванию </button>
    <span> | </span>
    <button onclick="window.location.href='/books/search'"> Поиск по названию </button>
</div>
<br/>
<form method="get" action="/people">
    <input type="submit" value="<- Перейти к списку людей">
</form>
</body>
</html>