<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>
<form th:method="GET" th:action="@{/books/searchFor}" th:object="${book}">
  <label for="name"> Введите название книги: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color: red" th:if="${bookId == null}" > Книга не найдена </div>
  <br/>
  <input type="submit" value="Поиск!"/>
</form>
<hr/>
<form method="get" action="/books">
  <input type="submit" value="<- Вернуться к списку книг">
</form>
</body>
</html>